@mixin cellBorder {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.calendar {
  display: grid;
  grid-template-columns: 200px repeat(7, 1fr);
  grid-auto-rows: 60px;
}

.cell {
  @include cellBorder();
}
