.container {
  background-color: #fffeda;
  border-radius: 8px;
  padding: 20px;
}

.title {
  margin-bottom: 12px;
}

.field {
  display: flex;
  margin-top: 6px;
}

.fieldTitle {
  font-weight: bold;
}

.fieldData {
  margin-left: 12px;
}
