@mixin cellBorder {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.calendarTopLeftCorner {
  grid-row: 1;
  grid-column: 1;
  border-top: 1px solid gray;
  @include cellBorder();
}

.timeMarker {
  grid-column: 1;
  padding: 5px;
  @include cellBorder();
}

.weekday {
  position: sticky;
  top: 0;
  grid-row: 1;
  background-color: var(--primaryColor);
  padding: 5px;
  border-top: 1px solid gray;
  @include cellBorder();
}
